doctype html
html(lang='en', data-ng-app='eshoprShop')
    head
        base(href="/")
        meta(charset='utf-8')
        title Mad

        link(href="/index.css", rel="stylesheet")
        script(src="/app.js")

    body
        h1 Works!
        h3 http://www.enpassant.dk/chess/fonteng.htm